* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    /* font-family: "Montserrat", serif; */
    font-weight: 600;
}

html,
body {
    height: 100%;
    width: 100%;   
}

body{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

h1{
    /* color: #fff; */
    font-size: 100px;
    text-align: center;
    overflow: hidden;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px blue;
    -moz-text-fill-color: transparent;
}

h1 span{
    display: inline-block;
}