* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: gilroy; */
    font-family: "Montserrat", serif;
    font-weight: 600;
}

html,
body {
    height: 100%;
    width: 100%;   
}

body{
    overflow-x: hidden;
}

#main {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('https://images.pexels.com/photos/2570473/pexels-photo-2570473.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

#nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px 40px 20px;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: transparent;
    /* border: 1px solid #fff; */
    z-index: 1;
    color: #fff;
    font-size: 20px;
}

#nav i{
    cursor: pointer;
    font-size: 30px;
    margin-right: 10px;
}


#full{
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -40%;
    background-color: #ffffff40;
    backdrop-filter: blur(10px);
    padding: 150px 50px;
    z-index: 10;
}

#full h4{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
}

#full i{
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 7%;
    background-color: #ffffff80;
    padding: 5px;
    font-weight: 200;
    border-radius: 50%;
}